.introPanel {
  background: #7659d5;
  padding: 2rem;

  h1 {
    margin: 14px 0 10px;
  }

  p {
    color: #eee5ff;
    font-weight: 400;
  }
}

.ArticleHomePage {
  background-image: linear-gradient(200deg, #c2c21f 20%, #dc2d84 100%);
  padding: 10rem 2rem 2rem;

  h1 {
    color: black;
    font-size: 44px;
    letter-spacing: 3px;
    margin: 1rem 0;
  }

  p {
    color: black;
  }
}

.homePage {
  margin: 3rem auto;
  max-width: 70rem;

  h3 {
    font-size: 14px;
    letter-spacing: 3px;
    margin: 1rem 0;
    font-weight: 500;
    transition: ease-in-out 400ms;

    .arrow {
      transition: ease-in-out 400ms;
    }
  }

  h3:hover {
    .arrow {
      transform: translateX(1rem);
    }
  }

  .Cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.ArticlesPage {
  max-width: 45rem;
  margin: 6rem auto;

  h1 {
    font-weight: 600;
    margin-bottom: 14px;
  }
}

// For Mobile Screen

@media (max-width: 1150px) {
  .homePage,
  .ArticlesPage {
    margin: 1rem;
  }
}
